
:focus {
    outline: none;
}

html, body, .content, slick, .slick-list, .slick-track, .questions, card, .card {
    height: 100%;
}

.navbar {
    height: 64px;
}

.app {
    
}

.content {
    padding: 4rem 0 0;
}

card {
    display: block;
    padding: 1rem;
}

.card .feedback, .card.answered .quiz .option:not(.selected) {
    display: none;
}
.card.answered .feedback {
    display: block;
}

.card .option {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}