
.app {
    
}

.container {
    padding-top: 2rem;
}

.card .feedback, .card.answered .quiz .option:not(.selected) {
    display: none;
}
.card.answered .feedback {
    display: block;
}

.card .option {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}