 <div class="card" ng-class="{answered: answered}">
    <!-- <div class="card-header hidden">
        Categoria
    </div> -->
    <div class="card-body">
        <h4 class="card-title">{{content.title}}</h4>
        <!-- <p class="card-text hidden">{{content.title}}</p> -->
    </div>
    <ul class="list-group list-group-flush quiz">
        <li class="list-group-item option" ng-repeat="option in content.options" ng-click="verify($index);" ng-class="{selected: option.selected || option.isCorrect }" data-index="{{$index}}">
            {{option.label}}
        </li>
    </ul>
    <div class="card-body feedback">
        <p class="card-text">{{content.feedback}}</p>
    </div>
</div>